/* CSS Styling for Jim K Work Portfolio Application */

/* Styling for all pages */

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/* Styling for semantic elements */

a {
    color: rgb(160, 201, 202);
    text-decoration: none;
}

body {
    color: rgb(rgb(231, 243, 243), green, blue);
    font-family: Tahoma;
}

header {
    padding: 20px 75px 20px 0;
    display: flex;
    background: rgba(30, 33, 44, 0.99);
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
}

header h1 {
    font-size: 46px;
    font-weight: lighter;
    color:rgb(219, 87, 83);
    padding-left: 75px;
}

header h1 span {
    color:rgb(231, 243, 243)
}

header nav ul {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 10px 12px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: normal;
    font-size: 1.7vw;
    border-bottom: solid 5px;
    border-color: rgb(160, 201, 202);
}

p {
    font-family: verdana;
}

footer {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    background:rgba(30, 33, 44, 0.99);
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    color:rgb(231, 243, 243);
    font-weight: lighter;
}

/* Styling for class elements */
.hero {
    margin: 0 auto;
    width: 100%;
    background-image: url("./images/hero-img.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2 {
    color:rgb(231, 243, 243);
    width: 25%;
    text-align: right;
    font-size: 35px;
    line-height: 1.2;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color:rgb(30, 33, 44);
    width: 25%;
    text-align: right;
    font-size: 20px;
    line-height: 1.2;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-info {
    width: 60%;
    margin: 0 auto;
    background-color: rgb(75, 87, 87);
    padding: 20px;
    color: rgb(204, 204, 204);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(30, 33, 44, 0.99);
    border-radius: 15px;
}


.hero-info img {
    height: 30%;
    width: 35%;
    border-color:rgba(30, 33, 44, 0.99);
}

.flex-row {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}





/* Styling for ID elements */

#name {
    background-color: rgba(32, 67, 87, 0.9);
    padding: 5px 10px;
}

#text {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}